.ballBox {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
}

.bubbleBox {
  z-index: 1;
  left: 20%;
}

.ball {
  list-style: none;
  z-index: 1;
  max-width: 100%;
}

.skillImg {
  z-index: 2;
  animation: bubble 10s linear;
  position: absolute;
  bottom: -110px;
  transform-origin: bottom;
}

@keyframes bubble {
  0% {
    transform: translate(-800%, 700%);
  }

  100% {
    transform: translate(0%, 0%);
  }
}

.emptyIcon {
  z-index: 2;
  animation: bubble2 50s linear infinite;
  width: 100px;
  max-height: 100px;
  position: fixed;
  bottom: 0;
  transform-origin: bottom;
  /* transform: translate(-50%, -50%) */
}

@keyframes bubble2 {
  0% {
    transform: translate(-200%, 900%);
  }

  100% {
    transform: translate(500%, -400%);
  }
}

@media (max-width: 420px) {
  .skillImg {
    z-index: 2;
    /* animation: none; */
    animation: bubble 20s linear infinite;
    max-width: 100px;
    /* max-height: 50px; */
    position: fixed;
    bottom: 0;
    /* left: 12%; */
    /* transform: translate(-50%, -50%) */
  }

  @keyframes bubble {
    0% {
      transform: translate(-500%, 500%);
    }

    100% {
      transform: translate(500%, -200%);
    }
  }
}

.mainSphereContainer {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tagcloud {
  width: 1000px !important;
}

.tagcloud--item {
  cursor: pointer !important;
  font-size: 18px;
  /* background-color: rgba(0, 255, 255, 0.616); */
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #2018184f;
  background-image: url("../../img/img/skills/empty.png") !important;
  filter: blur(0.5px);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.5s ease;
  backdrop-filter: blur(5px);
  color: rgb(250, 190, 148);
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
}
.tagcloud--item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);
  transform-origin: center center -60px;
  transform: translateZ(-60px) scale(0.8);
  filter: blur(20px);
  opacity: 0;
  transition: all 0.5s ease;
}
.tagcloud--item:hover {
  transform: translateZ(60px) scale(1.2);
}
.tagcloud--item:hover::before {
  opacity: 1;
}
.tagcloud--item:hover {
  transform: scale(2);
}

@media screen and (max-width: 900px) {
  /* .tagcloud--item {
    width: 100px;
    height: 100px;
  } */
  .tagcloud {
    width: 400px !important;
    height: 300px !important;
  }

  .tagcloud--item {
    cursor: pointer !important;
    font-size: 12px;
    /* background-color: rgba(0, 255, 255, 0.616); */
    width: 75px;
    height: 75px;
    display: flex;
  }

  .tagcloud--item:hover {
    transform: scale(2);
  }
}
