.react-icon {
  fill: rgb(230, 188, 73);
  transition: all 1s ease-in-out;
}



.ballon{}


.iconBox{
  color: #fff;
  /* animation: rotate 5s  infinite; */
  /* transform-origin: center; */
  position: absolute;
  width: 200px;
  height: 200px;
}
.react-icon:hover{
  /* animation: rotate 5s  infinite; */
  /* transform-origin: center; */
  transform: rotate(40deg);

}

@keyframes rotate {
  0%{
    transform: rotate(40deg);
   
  }
  100%{ 
    transform: rotate(90deg);
  }
}
