@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

.formBox{
  background-image: linear-gradient(45deg, rgba(71, 197, 247, 0.719), rgba(109, 180, 247, 0.562));
  box-shadow:   2px 2px 150px 50px  rgba(135, 149, 231, 0.438);
}
.MuiInputBase-root input {
  color: rgb(51, 5, 5);
  /* font-size: 1.5em; */
  border-radius: .4em;
}
.MuiInputBase-root textarea {
  color: rgb(51, 5, 5);
  /* font-size: 1.5em; */
  border-radius: .4em;
  width: 350px;
}

.title{
  font-family: 'Dancing Script', cursive;
  font-size: 3em;
  
}

.MuiFormLabel-asterisk{
  color:  rgb(212, 24, 24);
  font-size: 1.5em;
}

#name-input-label {
  color: #fff;
}